---
http_interactions:
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOUAAAB7SGe3tvk0DAxzN6SjmA8Uz_RavdJgwwr4F42t49ZJQ_0d3jY3-6Puz8DHhtuxKmgiTHRCLXMEi4A8J6SY27q3TMZoKZ9N0xSOmPOonPQ3yyCW6kfPciIR_ipktj9m0j5qJKykA6FK0F2hZwFknD7AFmaMeoCvj6qNvZSmi1--X6jfihiA6LFQbrE91XzCi13IsgiOf2LSNAQ0HzwRzdyDiqGctaWtorqc643IwdLPoddEBtKgnUs3Lv2IdT51nY0ncDEP0Hp8U7JIuEiqSz9M8oYEJdGLO9zONvaIr8r41SO2bujA4zIaMII5asxcs0k
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Wed, 31 Oct 2012 09:36:03 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION></id><updated>2012-10-31T09:36:03.670Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/fake%40<LOCATION></id><updated>2012-10-31T09:36:03.670Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/fake%40<LOCATION>'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/fake%40<LOCATION>'/><apps:property
        name='groupId' value='fake@<LOCATION>'/><apps:property name='groupName' value='The
        fake group'/><apps:property name='emailPermission' value='Owner'/><apps:property
        name='permissionPreset' value='Custom'/><apps:property name='description'
        value='sempre quella'/></entry><entry><id>https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/gg%40<LOCATION></id><updated>2012-10-31T09:36:03.670Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/gg%40<LOCATION>'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/gg%40<LOCATION>'/><apps:property
        name='groupId' value='gg@<LOCATION>'/><apps:property name='groupName' value='my
        group'/><apps:property name='emailPermission' value='Owner'/><apps:property
        name='permissionPreset' value='Custom'/><apps:property name='description'
        value='gg'/></entry></feed>
  recorded_at: Wed, 31 Oct 2012 09:36:03 GMT
recorded_with: VCR 2.2.5
