---
http_interactions:
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: US-ASCII
      string: Email=<USERNAME>%40<LOCATION>&Passwd=<PASSWORD>&accountType=HOSTED&service=apps
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! 'SID=DQAAAOQAAAD2LXR7-khGL2iU5LR6S1FTLg5xXmHlIjOccRy-u6-kBz1qpwwoBmQsRjHw2WHOvadnZJVnrLFRvH-nVe-L8Lhvachk5N9KBUih6ysfGALWB27O811E556QsvTTyhIJr-rqakvPJAkDA6qBKOetX8t0bs1BplFKlSkzmg_ozmnafhwDNbg-j8aWkNhzq3hvPLolKBsOYTqgYqspIozKT3e38HPa0pFZwS6zvP3wvX0Bc2Ubuxm5atiQeR3hB7Drzw02bujryLpnEdkEuSygj4c0XAQ36c8B69zFLR6QGAZGUw4iUAO4M0TSWx9w_MR8i6g

        LSID=DQAAAOUAAADUwnt3UnBbtEPjmLDL-Hxd_Nz7grQUcb_o8Kmb7D-sax15uW0OLJYRPqCHsycIjZ8wwwd2nv8FsuOZ1beEG8p5KJhBCgHY8fWeTIh3B3NLFvF6vPUAGxciSRqbWMjMhlPEE_BWitJcvJ-SbilzDylUVk1xEdBTShgDX-sALnMcIh2eDX9NbiDzp5DQ609asca9mhUSNQsJpshMuuzVCpof4AL5mLLTsdByQU7yQyGLvTbpIF056t64a74j1RH5dNgwPsqhPeChECbSvCQNgFU7iALYAYK7jodqwIeK4qFGYjUJ1XtpuqA30xk1yj54QOg

        Auth=DQAAAOUAAADUwnt3UnBbtEPjmLDL-Hxd_Nz7grQUcb_o8Kmb7D-sax15uW0OLJYRPqCHsycIjZ-l0zexzENmOlF66sQtiLCcR5QDRh-P-NX5H5DJjKIAv0cj8D7-lNaCCoq1JPew8nKY3iayb5mgFGc6td_Nneo8CNQdDRF9gkMB5Gq0-KfOJY04Rz5fdrlu6UFMSng0nwFXLCkUHTaDfJs07OwdmxGIyjE70XRJY9SazJNwC8WE-BxuH1qtIA0P6gaYuDvcy_mOOy-Q6zjX5rhqx4AEDRflN42-1d6EjpBLbW4UXlMg-YxCx7jWe-RYwdL5qWyZra4

'
  recorded_at: Thu, 11 Oct 2012 11:54:39 GMT
- request:
    method: post
    uri: https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0
    body:
      encoding: UTF-8
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<atom:entry xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:apps=\"http://schemas.google.com/apps/2006\">\n  <atom:category scheme=\"http://schemas.google.com/g/2005#kind\"
        term=\"http://schemas.google.com/apps/2006#user\"/>\n  <apps:login userName=\"foobar\"
        password=\"51eea05d46317fadd5cad6787a8f562be90b4446\" suspended=\"false\"/>\n
        \ <apps:quota limit=\"1024\"/>\n  <apps:name familyName=\"Bar\" givenName=\"Foo\"/>\n</atom:entry>\n"
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOUAAADUwnt3UnBbtEPjmLDL-Hxd_Nz7grQUcb_o8Kmb7D-sax15uW0OLJYRPqCHsycIjZ-l0zexzENmOlF66sQtiLCcR5QDRh-P-NX5H5DJjKIAv0cj8D7-lNaCCoq1JPew8nKY3iayb5mgFGc6td_Nneo8CNQdDRF9gkMB5Gq0-KfOJY04Rz5fdrlu6UFMSng0nwFXLCkUHTaDfJs07OwdmxGIyjE70XRJY9SazJNwC8WE-BxuH1qtIA0P6gaYuDvcy_mOOy-Q6zjX5rhqx4AEDRflN42-1d6EjpBLbW4UXlMg-YxCx7jWe-RYwdL5qWyZra4
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Location:
      - https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foobar
      Content-Location:
      - https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foobar
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><entry xmlns='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006' xmlns:gd='http://schemas.google.com/g/2005'><id>https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foobar</id><updated>1970-01-01T00:00:00.000Z</updated><category
        scheme='http://schemas.google.com/g/2005#kind' term='http://schemas.google.com/apps/2006#user'/><title
        type='text'>foobar</title><link rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foobar'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foobar'/><apps:login
        userName='foobar' suspended='false' ipWhitelisted='false' admin='false' changePasswordAtNextLogin='false'
        agreedToTerms='false'/><apps:quota limit='10240'/><apps:name familyName='Bar'
        givenName='Foo'/><gd:feedLink rel='http://schemas.google.com/apps/2006#user.nicknames'
        href='https://apps-apis.google.com/a/feeds/<LOCATION>/nickname/2.0?username=foobar'/><gd:feedLink
        rel='http://schemas.google.com/apps/2006#user.emailLists' href='https://apps-apis.google.com/a/feeds/<LOCATION>/emailList/2.0?recipient=foobar%40<LOCATION>'/></entry>
  recorded_at: Thu, 11 Oct 2012 11:54:43 GMT
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOUAAADUwnt3UnBbtEPjmLDL-Hxd_Nz7grQUcb_o8Kmb7D-sax15uW0OLJYRPqCHsycIjZ-l0zexzENmOlF66sQtiLCcR5QDRh-P-NX5H5DJjKIAv0cj8D7-lNaCCoq1JPew8nKY3iayb5mgFGc6td_Nneo8CNQdDRF9gkMB5Gq0-KfOJY04Rz5fdrlu6UFMSng0nwFXLCkUHTaDfJs07OwdmxGIyjE70XRJY9SazJNwC8WE-BxuH1qtIA0P6gaYuDvcy_mOOy-Q6zjX5rhqx4AEDRflN42-1d6EjpBLbW4UXlMg-YxCx7jWe-RYwdL5qWyZra4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 01 Jan 1970 00:00:00 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><entry xmlns='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006' xmlns:gd='http://schemas.google.com/g/2005'><id>https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foobar</id><updated>1970-01-01T00:00:00.000Z</updated><category
        scheme='http://schemas.google.com/g/2005#kind' term='http://schemas.google.com/apps/2006#user'/><title
        type='text'>foobar</title><link rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foobar'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foobar'/><apps:login
        userName='foobar' suspended='false' ipWhitelisted='false' admin='false' changePasswordAtNextLogin='false'
        agreedToTerms='false'/><apps:quota limit='10240'/><apps:name familyName='Bar'
        givenName='Foo'/><gd:feedLink rel='http://schemas.google.com/apps/2006#user.nicknames'
        href='https://apps-apis.google.com/a/feeds/<LOCATION>/nickname/2.0?username=foobar'/><gd:feedLink
        rel='http://schemas.google.com/apps/2006#user.emailLists' href='https://apps-apis.google.com/a/feeds/<LOCATION>/emailList/2.0?recipient=foobar%40<LOCATION>'/></entry>
  recorded_at: Thu, 11 Oct 2012 11:54:43 GMT
recorded_with: VCR 2.2.5
