---
http_interactions:
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foo2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOUAAAA87x2UfD_GXVvZT3tH4PV2vd3PX3lkkifqyhbMhmPpza2fcYqE5fohD8EoEPCh7XeqkYJAdIZzvm5CkVhe0g-ovNDRfwpjVpQLv_P7jXzC3QbfATe_un3K8_7aP39P-Ycnr980-76FKkoOez8cqy7CSuo2QzHF7odGcHos8MmpVH2a8tl9C0rDaPZhXD1nMvxHqa6Iz2mCfdWdkzkFiu-kfcrX5qqedaZLnQ56Mx5dnGf8FsJJ_-vE_XPgZKhkf9dW3amixmLDOQuj5FAneksYa7PtjzyU8uMUhODcZDTwpuIETnN8wMY0XOneOExbeIY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 01 Jan 1970 00:00:00 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><entry xmlns='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006' xmlns:gd='http://schemas.google.com/g/2005'><id>https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foo2</id><updated>1970-01-01T00:00:00.000Z</updated><category
        scheme='http://schemas.google.com/g/2005#kind' term='http://schemas.google.com/apps/2006#user'/><title
        type='text'>foo2</title><link rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foo2'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foo2'/><apps:login
        userName='foo2' suspended='false' ipWhitelisted='false' admin='false' changePasswordAtNextLogin='false'
        agreedToTerms='false'/><apps:quota limit='10240'/><apps:name familyName='foo2_surname'
        givenName='foo2_name'/><gd:feedLink rel='http://schemas.google.com/apps/2006#user.nicknames'
        href='https://apps-apis.google.com/a/feeds/<LOCATION>/nickname/2.0?username=foo2'/><gd:feedLink
        rel='http://schemas.google.com/apps/2006#user.emailLists' href='https://apps-apis.google.com/a/feeds/<LOCATION>/emailList/2.0?recipient=foo2%40<LOCATION>'/></entry>
  recorded_at: Mon, 22 Oct 2012 08:31:13 GMT
- request:
    method: put
    uri: https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foo2
    body:
      encoding: UTF-8
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<atom:entry xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:apps=\"http://schemas.google.com/apps/2006\">\n  <atom:category scheme=\"http://schemas.google.com/g/2005#kind\"
        term=\"http://schemas.google.com/apps/2006#user\"/>\n  <apps:login userName=\"foo2\"
        password=\"51eea05d46317fadd5cad6787a8f562be90b4446\" suspended=\"false\"/>\n
        \ <apps:quota limit=\"1024\"/>\n  <apps:name familyName=\"foo2_surname\" givenName=\"foo2_name\"/>\n</atom:entry>\n"
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOUAAAA87x2UfD_GXVvZT3tH4PV2vd3PX3lkkifqyhbMhmPpza2fcYqE5fohD8EoEPCh7XeqkYJAdIZzvm5CkVhe0g-ovNDRfwpjVpQLv_P7jXzC3QbfATe_un3K8_7aP39P-Ycnr980-76FKkoOez8cqy7CSuo[...]
