---
http_interactions:
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: US-ASCII
      string: Email=<USERNAME>%40<LOCATION>&Passwd=<PASSWORD>&accountType=HOSTED&service=apps
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! 'SID=DQAAAOMAAAC0trnzSc78DG3mxapcVc9ZWrSbxPCz9GxtNuoPPMWVfZbJFIKxQRf4Lmmq7BMzYklQYlIHRdOJjUiR5m_OBO_55hAFvPyOvWtTlOdBkdEWaC90woXvxLq04uZ2wN_siZW9SIL_QKjPuDuzbrpqNpmZHPqwRxHI43qZ31sccgcD-5jsXbiVzqQY1fAwqOUXbo5AAU46Mj9QbM6tuZ-jVILXWrfWJZ1fQ24LVE4ZtTgIa6jEWK_qy8b7A9ChHTvGEgWBLdKW8Z2znhDk-6ZPS5DR6mUhcctbVVEXdMP4UKUnE4Bv2D_DYkN27T7HIozLiHY

        LSID=DQAAAOUAAABXygqe2QShYQf2AA-unVh124uPry_d4Wt4T534UZKDT4Cg2hKLY0KDZdZqUyH7hYGrBsMO_CyhR48F08VAHocNcSF9dfqKh4E_Ia9GKKccUz5snQ5vM1jBEkeTXEGlfPg6FT37GQkJzXKCraDfWg1y6JfR29ewDCaOHFz_2GMCbtw31npnMMkmdX4GEf-AeMRFB_r0-Ey8vFGbs77WOQWGeMId40EEO8MXA4x4xE-6vf9yimXYh57oVYmjOgdimFdGB49NlDb_VDUF-XGyOzi1ny0OSnwAPspeK_khQuf7MsrpaRI8ulKxbiPLOPKoJug

        Auth=DQAAAOYAAABXygqe2QShYQf2AA-unVh124uPry_d4Wt4T534UZKDT4Cg2hKLY0KDZdZqUyH7hYEGPGIGYW7M8Y6t2Adk056-R-rjDgBeU5MGagjV5hiovFXUNoYXyxBPMWs60j1eAJWYJyGbW9b74WjOegz-RCQshKFy5kqrSJ601RjTfPepCU3V7wmN5mUi8d5rchsjJvN-7_GIw0Qa5WRXEE0YENpRWIWm_GNJX2jg9f4MxZ8YHRlAD3mqjlHKEzLWR4LUIKQWmahAxeg45VGmOGprB4WypYBPBTkX6MJ1KzuYa4JAEV7GZxl1s2FoxgPLrE-C_18

'
  recorded_at: Fri, 26 Oct 2012 06:21:11 GMT
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/foo_bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAABXygqe2QShYQf2AA-unVh124uPry_d4Wt4T534UZKDT4Cg2hKLY0KDZdZqUyH7hYEGPGIGYW7M8Y6t2Adk056-R-rjDgBeU5MGagjV5hiovFXUNoYXyxBPMWs60j1eAJWYJyGbW9b74WjOegz-RCQshKFy5kqrSJ601RjTfPepCU3V7wmN5mUi8d5rchsjJvN-7_GIw0Qa5WRXEE0YENpRWIWm_GNJX2jg9f4MxZ8YHRlAD3mqjlHKEzLWR4LUIKQWmahAxeg45VGmOGprB4WypYBPBTkX6MJ1KzuYa4JAEV7GZxl1s2FoxgPLrE-C_18
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Fri, 26 Oct 2012 06:21:12 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><entry xmlns='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/foo_bar%40<LOCATION></id><updated>2012-10-26T06:21:12.495Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/foo_bar%40<LOCATION>'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/foo_bar%40<LOCATION>'/><apps:property
        name='groupId' value='foo_bar@<LOCATION>'/><apps:property name='groupName'
        value='Foo'/><apps:property name='emailPermission' value='Owner'/><apps:property
        name='permissionPreset' value='Custom'/><apps:property name='description'
        value='Bar'/></entry>
  recorded_at: Fri, 26 Oct 2012 06:21:12 GMT
- request:
    method: put
    uri: https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/foo_bar
    body:
      encoding: UTF-8
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<atom:entry xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:apps=\"http://schemas.google.com/apps/2006\">\n  <atom:category scheme=\"http://schemas.google.com/g/2005#kind\"
        term=\"http://schemas.google.com/apps/2006#emailList\"/>\n  <apps:property
        name=\"groupId\" value=\"foo_bar\"/>\n  <apps:property name=\"groupName\"
        value=\"Foo\"/>\n  <apps:property name=\"description\" value=\"Bar\"/>\n  <apps:property
        name=\"emailPermission\" value=\"Owner\"/>\n</atom:entry>\n"
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAABX[...]
[...]
