---
http_interactions:
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAABXygqe2QShYQf2AA-unVh124uPry_d4Wt4T534UZKDT4Cg2hKLY0KDZdZqUyH7hYEGPGIGYW7M8Y6t2Adk056-R-rjDgBeU5MGagjV5hiovFXUNoYXyxBPMWs60j1eAJWYJyGbW9b74WjOegz-RCQshKFy5kqrSJ601RjTfPepCU3V7wmN5mUi8d5rchsjJvN-7_GIw0Qa5WRXEE0YENpRWIWm_GNJX2jg9f4MxZ8YHRlAD3mqjlHKEzLWR4LUIKQWmahAxeg45VGmOGprB4WypYBPBTkX6MJ1KzuYa4JAEV7GZxl1s2FoxgPLrE-C_18
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Fri, 26 Oct 2012 06:36:46 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION></id><updated>2012-10-26T06:36:46.336Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/fake%40<LOCATION></id><updated>2012-10-26T06:36:46.336Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/fake%40<LOCATION>'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/fake%40<LOCATION>'/><apps:property
        name='groupId' value='fake@<LOCATION>'/><apps:property name='groupName' value='test'/><apps:property
        name='emailPermission' value='Owner'/><apps:property name='permissionPreset'
        value='Custom'/><apps:property name='description' value='newdesc'/></entry><entry><id>https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/foo_bar%40<LOCATION></id><updated>2012-10-26T06:36:46.336Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/foo_bar%40<LOCATION>'/><link
   [...]
- request:
    method: delete
    uri: https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/fake@<LOCATION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAABXygqe2QShYQf2AA-unVh124uPry_d4Wt4T534UZKDT4Cg2hKLY0KDZdZqUyH7hYEGPGIGYW7M8Y6t2Adk056-R-rjDgBeU5MGagjV5hiovFXUNoYXyxBPMWs60j1eAJWYJyGbW9b74WjOegz-RCQshKFy5kqrSJ601RjTfPepCU3V7wmN5mUi8d5rchsjJvN-7_GIw0Qa5WRXEE0YENpRWIWm_GNJX2jg9f4MxZ8YHRlAD3mqjlHKEzLWR4LUIKQWmahAxeg45VGmOGprB4WypYBPBTkX6MJ1KzuYa4JAEV7GZxl1s2FoxgPLrE-C_18
  response:
    status:
      code: 200
      message: OK
    headers:
      Gdata-Version:
      - '1.0'
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 26 Oct 2012 06:36:50 GMT
- request:
    method: delete
    uri: https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/foo_bar@<LOCATION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAABXygqe2QShYQf2AA-unVh124uPry_d4Wt4T534UZKDT4Cg2hKLY0KDZdZqUyH7hYEGPGIGYW7M8Y6t2Adk056-R-rjDgBeU5MGagjV5hiovFXUNoYXyxBPMWs60j1eAJWYJyGbW9b74WjOegz-RCQshKFy5kqrSJ601RjTfPepCU3V7wmN5mUi8d5rchsjJvN-7_GIw0Qa5WRXEE0YENpRWIWm_GNJX2jg9f4MxZ8YHRlAD3mqjlHKEzLWR4LUIKQWmahAxeg45VGmOGprB4WypYBPBTkX6MJ1KzuYa4JAEV7GZxl1s2FoxgPLrE-C_18
  response:
    status:
      code: 200
      message: OK
    headers:
      Gdata-Version:
      - '1.0'
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 26 Oct 2012 06:36:53 GMT
- request:
    method: delete
    uri: https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/test4@<LOCATION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAABXygqe2QShYQf2AA-unVh124uPry_d4Wt4T534UZKDT4Cg2hKLY0KDZdZqUyH7hYEGPGIGYW7M8Y6t2Adk056-R-rjDgBeU5MGagjV5hiovFXUNoYXyxBPMWs60j1eAJWYJyGbW9b74WjOegz-RCQshKFy5kqrSJ601RjTfPepCU3V7wmN5mUi8d5rchsjJvN-7_GIw0Qa5WRXEE0YENpRWIWm_GNJX2jg9f4MxZ8YHRlAD3mqjlHKEzLWR4LUIKQWmahAxeg45VGmOGprB4WypYBPBTkX6MJ1KzuYa4JAEV7GZxl1s2FoxgPLrE-C_18
  response:
    status:
      code: 200
      message: OK
    headers:
      Gdata-Version:
      - '1.0'
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 26 Oct 2012 06:36:58 GMT
[...]
- request:
    method: delete
    uri: https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/testabc@<LOCATION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAABXygqe2QShYQf2AA-unVh124uPry_d4Wt4T534UZKDT4Cg2hKLY0KDZdZqUyH7hYEGPGIGYW7M8Y6t2Adk056-R-rjDgBeU5MGagjV5hiovFXUNoYXyxBPMWs60j1eAJWYJyGbW9b74WjOegz-RCQshKFy5kqrSJ601RjTfPepCU3V7wmN5mUi8d5rchsjJvN-7_GIw0Qa5WRXEE0YENpRWIWm_GNJX2jg9f4MxZ8YHRlAD3mqjlHKEzLWR4LUIKQWmahAxeg45VGmOGprB4WypYBPBTkX6MJ1KzuYa4JAEV7GZxl1s2FoxgPLrE-C_18
  response:
    status:
      code: 200
      message: OK
    headers:
      Gdata-Version:
      - '1.0'
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 26 Oct 2012 06:37:05 GMT
- request:
    method: delete
    uri: https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/testatest_1@<LOCATION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAABXygqe2QShYQf2AA-unVh124uPry_d4Wt4T534UZKDT4Cg2hKLY0KDZdZqUyH7hYEGPGIGYW7M8Y6t2Adk056-R-rjDgBeU5MGagjV5hiovFXUNoYXyxBPMWs60j1eAJWYJyGbW9b74WjOegz-RCQshKFy5kqrSJ601RjTfPepCU3V7wmN5mUi8d5rchsjJvN-7_GIw0Qa5WRXEE0YENpRWIWm_GNJX2jg9f4MxZ8YHRlAD3mqjlHKEzLWR4LUIKQWmahAxeg45VGmOGprB4WypYBPBTkX6MJ1KzuYa4JAEV7GZxl1s2FoxgPLrE-C_18
  response:
    status:
      code: 200
      message: OK
    headers:
      Gdata-Version:
      - '1.0'
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 26 Oct 2012 06:37:09 GMT
- request:
    method: delete
    uri: https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/testcde@<LOCATION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAABXygqe2QShYQf2AA-unVh124uPry_d4Wt4T534UZKDT4Cg2hKLY0KDZdZqUyH7hYEGPGIGYW7M8Y6t2Adk056-R-rjDgBeU5MGagjV5hiovFXUNoYXyxBPMWs60j1eAJWYJyGbW9b74WjOegz-RCQshKFy5kqrSJ601RjTfPepCU3V7wmN5mUi8d5rchsjJvN-7_GIw0Qa5WRXEE0YENpRWIWm_GNJX2jg9f4MxZ8YHRlAD3mqjlHKEzLWR4LUIKQWmahAxeg45VGmOGprB4WypYBPBTkX6MJ1KzuYa4JAEV7GZxl1s2FoxgPLrE-C_18
  response:
    status:
      code: 200
      message: OK
    headers:
      Gdata-Version:
      - '1.0'
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 26 Oct 2012 06:37:14 GMT
- request:
    method: delete
    uri: https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/testtest1@<LOCATION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAABXygqe2QShYQf2AA-unVh124uPry_d4Wt4T534UZKDT4Cg2hKLY0KDZdZqUyH7hYEGPGIGYW7M8Y6t2Adk056-R-rjDgBeU5MGagjV5hiovFXUNoYXyxBPMWs60j1eAJWYJyGbW9b74WjOegz-RCQshKFy5kqrSJ601RjTfPepCU3V7wmN5mUi8d5rchsjJvN-7_GIw0Qa5WRXEE0YENpRWIWm_GNJX2jg9f4MxZ8YHRlAD3mqjlHKEzLWR4LUIKQWmahAxeg45VGmOGprB4WypYBPBTkX6MJ1KzuYa4JAEV7GZxl1s2FoxgPLrE-C_18
  response:
    status:
      code: 200
      message: OK
    headers:
      Gdata-Version:
      - '1.0'
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 26 Oct 2012 06:37:18 GMT
- request:
    method: delete
    uri: https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/testtest_1@<LOCATION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAABXygqe2QShYQf2AA-unVh124uPry_d4Wt4T534UZKDT4Cg2hKLY0KDZdZqUyH7hYEGPGIGYW7M8Y6t2Adk056-R-rjDgBeU5MGagjV5hiovFXUNoYXyxBPMWs60j1eAJWYJyGbW9b74WjOegz-RCQshKFy5kqrSJ601RjTfPepCU3V7wmN5mUi8d5rchsjJvN-7_GIw0Qa5WRXEE0YENpRWIWm_GNJX2jg9f4MxZ8YHRlAD3mqjlHKEzLWR4LUIKQWmahAxeg45VGmOGprB4WypYBPBTkX6MJ1KzuYa4JAEV7GZxl1s2FoxgPLrE-C_18
  response:
    status:
      code: 200
      message: OK
    headers:
      Gdata-Version:
      - '1.0'
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 26 Oct 2012 06:37:21 GMT
[...]
