---
http_interactions:
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOUAAAA87x2UfD_GXVvZT3tH4PV2vd3PX3lkkifqyhbMhmPpza2fcYqE5fohD8EoEPCh7XeqkYJAdIZzvm5CkVhe0g-ovNDRfwpjVpQLv_P7jXzC3QbfATe_un3K8_7aP39P-Ycnr980-76FKkoOez8cqy7CSuo2QzHF7odGcHos8MmpVH2a8tl9C0rDaPZhXD1nMvxHqa6Iz2mCfdWdkzkFiu-kfcrX5qqedaZLnQ56Mx5dnGf8FsJJ_-vE_XPgZKhkf9dW3amixmLDOQuj5FAneksYa7PtjzyU8uMUhODcZDTwpuIETnN8wMY0XOneOExbeIY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 01 Jan 1970 00:00:00 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'
        xmlns:gd='http://schemas.google.com/g/2005'><id>https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0</id><updated>1970-01-01T00:00:00.000Z</updated><category
        scheme='http://schemas.google.com/g/2005#kind' term='http://schemas.google.com/apps/2006#user'/><title
        type='text'>Users</title><link rel='http://schemas.google.com/g/2005#feed'
        type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/<USERNAME></id><updated>1970-01-01T00:00:00.000Z</updated><category
        scheme='http://schemas.google.com/g/2005#kind' term='http://schemas.google.com/apps/2006#user'/><title
        type='text'><USERNAME></title><link rel='self' type='application/atom+xml'
        href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/<USERNAME>'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/<USERNAME>'/><apps:login
        userName='<USERNAME>' suspended='false' ipWhitelisted='false' admin='true'
        changePasswordAtNextLogin='false' agreedToTerms='true'/><apps:quota limit='10240'/><apps:name
        familyName='braga' givenName='damiano'/><gd:feedLink rel='http://schemas.google.com/apps/2006#user.nicknames'
        href='https://apps-apis.google.com/a/feeds/<LOCATION>/nickname/2.0?username=<USERNAME>'/><gd:feedLink
        rel='http://schemas.google.com/apps/2006#user.emailLists' href='https://apps-apis.google.com/a/feeds/<LOCATION>/emailList/2.0?recipient=<USERNAME>%40<LOCATION>'/></entry><entry><id>https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/celestino.gaylord</id><updated>1970-01-01T00:00:00.000Z</updated><category
        sche[...]
