---
http_interactions:
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAACGhTNo91IDUKz8vhaUTwOFoIfU53l12mUGLOJhKukj1WYeTu47Y-hBfwnphrJ93ukqSZ1j2nK4JKHKbwKE_BjpUmQUY5t51xCZQN4tZXC4sg79PiSBK5FVulajqUGkTTTaDaQPScPYdvzywnaqNRiaJZLsbwtNJ8qqIGy8y67j93px9Q0XTR4uQ-ReONZoQNjz0RNVWUr91Qn4WMIjw6kTlrbZ9aeTsVCoW4Dr_U86BM5bQoE6U9OkCNlrl0xQ5l1GQp1TqS6r0IEh-8xoQKexq_CQLK_Bd8A0lwjL4rDGSkkgG4_geKD47htrqZZKNUE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Wed, 31 Oct 2012 10:26:20 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION></id><updated>2012-10-31T10:26:20.064Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>'/><openSearch:startIndex>1</openSearch:startIndex></feed>
  recorded_at: Wed, 31 Oct 2012 10:26:19 GMT
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/foobarz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAACGhTNo91IDUKz8vhaUTwOFoIfU53l12mUGLOJhKukj1WYeTu47Y-hBfwnphrJ93ukqSZ1j2nK4JKHKbwKE_BjpUmQUY5t51xCZQN4tZXC4sg79PiSBK5FVulajqUGkTTTaDaQPScPYdvzywnaqNRiaJZLsbwtNJ8qqIGy8y67j93px9Q0XTR4uQ-ReONZoQNjz0RNVWUr91Qn4WMIjw6kTlrbZ9aeTsVCoW4Dr_U86BM5bQoE6U9OkCNlrl0xQ5l1GQp1TqS6r0IEh-8xoQKexq_CQLK_Bd8A0lwjL4rDGSkkgG4_geKD47htrqZZKNUE
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<AppsForYourDomainErrors>\r\n
        \ <error errorCode=\"1301\" invalidInput=\"foobarz@<LOCATION>\" reason=\"EntityDoesNotExist\"
        />\r\n</AppsForYourDomainErrors>\r\n\r\n"
  recorded_at: Wed, 31 Oct 2012 10:26:20 GMT
- request:
    method: post
    uri: https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>
    body:
      encoding: UTF-8
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<atom:entry xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:apps=\"http://schemas.google.com/apps/2006\">\n  <atom:category scheme=\"http://schemas.google.com/g/2005#kind\"
        term=\"http://schemas.google.com/apps/2006#emailList\"/>\n  <apps:property
        name=\"groupId\" value=\"foobarz\"/>\n  <apps:property name=\"groupName\"
        value=\"foobar2_name\"/>\n  <apps:property name=\"description\" value=\"foobar_description\"/>\n
        \ <apps:property name=\"emailPermission\" value=\"Owner\"/>\n</atom:entry>\n"
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAACGhTNo91IDUKz8vhaUTwOFoIfU53l12mUGLOJhKukj1WYeTu47Y-hBfwnphrJ93ukqSZ1j2nK4JKHKbwKE_BjpUmQUY5t51xCZQN4tZXC4sg79PiSBK5FVulajqUGkTTTaDaQPScPYdvzywnaqNRiaJZLsbwtNJ8qqIGy8y67j93px9Q0XTR4uQ-ReONZoQNjz0RNVWUr91Qn4WMIjw6kTlrbZ9aeTsVCoW4Dr_U86BM5bQoE6U9OkCNlrl0xQ5l1GQp1TqS6r0IEh-8xoQKexq_CQLK_Bd8A0lwjL4rDGSkkgG4_geKD47htrqZZKNUE
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Location:
      - https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/foobarz
      Content-Location:
      - https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/foobarz
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><entry xmlns='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/foobarz</id><updated>2012-10-31T10:26:21.969Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/foobarz'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/group/2.0/<LOCATION>/foobarz'/><apps:property
        name='groupId' value='foobarz'/><apps:property name='groupName' value='foobar2_name'/><apps:property
        name='emailPermission' value='Owner'/><apps:property name='description' value='foobar_description'/></entry>
  recorded_at: Wed, 31 Oct 2012 10:26:21 GMT
[...]
