---
http_interactions:
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/talon_gutmann
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOUAAAA87x2UfD_GXVvZT3tH4PV2vd3PX3lkkifqyhbMhmPpza2fcYqE5fohD8EoEPCh7XeqkYJAdIZzvm5CkVhe0g-ovNDRfwpjVpQLv_P7jXzC3QbfATe_un3K8_7aP39P-Ycnr980-76FKkoOez8cqy7CSuo2QzHF7odGcHos8MmpVH2a8tl9C0rDaPZhXD1nMvxHqa6Iz2mCfdWdkzkFiu-kfcrX5qqedaZLnQ56Mx5dnGf8FsJJ_-vE_XPgZKhkf9dW3amixmLDOQuj5FAneksYa7PtjzyU8uMUhODcZDTwpuIETnN8wMY0XOneOExbeIY
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<AppsForYourDomainErrors>\r\n
        \ <error errorCode=\"1301\" invalidInput=\"talon_gutmann\" reason=\"EntityDoesNotExist\"
        />\r\n</AppsForYourDomainErrors>\r\n\r\n"
  recorded_at: Mon, 22 Oct 2012 08:30:44 GMT
- request:
    method: post
    uri: https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0
    body:
      encoding: UTF-8
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<atom:entry xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:apps=\"http://schemas.google.com/apps/2006\">\n  <atom:category scheme=\"http://schemas.google.com/g/2005#kind\"
        term=\"http://schemas.google.com/apps/2006#user\"/>\n  <apps:login userName=\"talon_gutmann\"
        password=\"51eea05d46317fadd5cad6787a8f562be90b4446\" suspended=\"false\"/>\n
        \ <apps:quota limit=\"1024\"/>\n  <apps:name familyName=\"Huels\" givenName=\"Dereck\"/>\n</atom:entry>\n"
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOUAAAA87x2UfD_GXVvZT3tH4PV2vd3PX3lkkifqyhbMhmPpza2fcYqE5fohD8EoEPCh7XeqkYJAdIZzvm5CkVhe0g-ovNDRfwpjVpQLv_P7jXzC3QbfATe_un3K8_7aP39P-Ycnr980-76FKkoOez8cqy7CSuo2QzHF7odGcHos8MmpVH2a8tl9C0rDaPZhXD1nMvxHqa6Iz2mCfdWdkzkFiu-kfcrX5qqedaZLnQ56Mx5dnGf8FsJJ_-vE_XPgZKhkf9dW3amixmLDOQuj5FAneksYa7PtjzyU8uMUhODcZDTwpuIETnN8wMY0XOneOExbeIY
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Location:
      - https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/talon_gutmann
      Content-Location:
      - https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/talon_gutmann
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><entry xmlns='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006' xmlns:gd='http://schemas.google.com/g/2005'><id>https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/talon_gutmann</id><updated>1970-01-01T00:00:00.000Z</updated><category
        scheme='http://schemas.google.com/g/2005#kind' term='http://schemas.google.com/apps/2006#user'/><title
        type='text'>talon_gutmann</title><link rel='self' type='application/atom+xml'
        href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/talon_gutmann'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/talon_gutmann'/><apps:login
        userName='talon_gutmann' suspended='false' ipWhitelisted='false' admin='false'
        changePasswordAtNextLogin='false' agreedToTerms='false'/><apps:quota limit='10240'/><apps:name
        familyName='Huels' givenName='Dereck'/><gd:feedLink rel='http://schemas.google.com/apps/2006#user.nicknames'
        href='https://apps-apis.google.com/a/feeds/<LOCATION>/nickname/2.0?username=talon_gutmann'/><gd:feedLink
        rel='http://schemas.google.com/apps/2006#user.emailLists' href='https://apps-apis.google.com/a/feeds/<LOCATION>/emailList/2.0?recipient=talon_gutmann%40<LOCATION>'/></entry>
  recorded_at: Mon, 22 Oct 2012 08:30:47 GMT
recorded_with: VCR 2.2.5
