---
http_interactions:
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/barfoo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAADvfMaMGIhYa3HX2oCitMWr1dRc6IpkhTiIWHOgKAs4PwJwef-h3JAOwRPx4wPyajCe8nT4_jyMaF87xJ_E4lPugM3B3OI1O92k33Rzz5mKUYDLh-O7xuNAbPfCIzekfU06DuOjXMog7sJ6Y5tUMPZGgbH714cF7qevGQhBS6LzvMTK6Rce2Dih4b4bVaPer7uRVM_q0OjccIiGx3UZirreEGLAE7sVFS6kwY2AlRCTkgx6Rx5ReXR7OpV1fYiMKnAJR3JhfbZVgpH0TjSqSI3g3hrlMCp9HplnjuycErGSTUABmxBfEsPfHRc7Nr79tlY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 01 Jan 1970 00:00:00 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><entry xmlns='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006' xmlns:gd='http://schemas.google.com/g/2005'><id>https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/barfoo</id><updated>1970-01-01T00:00:00.000Z</updated><category
        scheme='http://schemas.google.com/g/2005#kind' term='http://schemas.google.com/apps/2006#user'/><title
        type='text'>barfoo</title><link rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/barfoo'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/barfoo'/><apps:login
        userName='barfoo' suspended='false' ipWhitelisted='false' admin='false' changePasswordAtNextLogin='false'
        agreedToTerms='false'/><apps:quota limit='10240'/><apps:name familyName='raB'
        givenName='ooF'/><gd:feedLink rel='http://schemas.google.com/apps/2006#user.nicknames'
        href='https://apps-apis.google.com/a/feeds/<LOCATION>/nickname/2.0?username=barfoo'/><gd:feedLink
        rel='http://schemas.google.com/apps/2006#user.emailLists' href='https://apps-apis.google.com/a/feeds/<LOCATION>/emailList/2.0?recipient=barfoo%40<LOCATION>'/></entry>
  recorded_at: Tue, 16 Oct 2012 09:48:30 GMT
[...]
- request:
    method: put
    uri: https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/barfoo
    body:
      encoding: UTF-8
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<atom:entry xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:apps=\"http://schemas.google.com/apps/2006\">\n  <atom:category scheme=\"http://schemas.google.com/g/2005#kind\"
        term=\"http://schemas.google.com/apps/2006#user\"/>\n  <apps:login userName=\"barfoo\"
        password=\"51eea05d46317fadd5cad6787a8f562be90b4446\" suspended=\"true\"/>\n
        \ <apps:quota limit=\"10240\"/>\n  <apps:name familyName=\"raB\" givenName=\"ooF\"/>\n</atom:entry>\n"
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOYAAADvfMaMGIhYa3HX2oCitMWr1dRc6IpkhTiIWHOgKAs4PwJwef-h3JAOwRPx4wPyajCe8nT4_jyMaF87xJ_E4lPugM3B3OI1O92k33Rzz5mKUYDLh-O7xuNAbPfCIzekfU06DuOjXMog7sJ6Y5tUMPZGgbH714cF7qevGQhB[...]
[...]
