---
http_interactions:
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOUAAADUwnt3UnBbtEPjmLDL-Hxd_Nz7grQUcb_o8Kmb7D-sax15uW0OLJYRPqCHsycIjZ-l0zexzENmOlF66sQtiLCcR5QDRh-P-NX5H5DJjKIAv0cj8D7-lNaCCoq1JPew8nKY3iayb5mgFGc6td_Nneo8CNQdDRF9gkMB5Gq0-KfOJY04Rz5fdrlu6UFMSng0nwFXLCkUHTaDfJs07OwdmxGIyjE70XRJY9SazJNwC8WE-BxuH1qtIA0P6gaYuDvcy_mOOy-Q6zjX5rhqx4AEDRflN42-1d6EjpBLbW4UXlMg-YxCx7jWe-RYwdL5qWyZra4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 01 Jan 1970 00:00:00 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><entry xmlns='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006' xmlns:gd='http://schemas.google.com/g/2005'><id>https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foobar</id><updated>1970-01-01T00:00:00.000Z</updated><category
        scheme='http://schemas.google.com/g/2005#kind' term='http://schemas.google.com/apps/2006#user'/><title
        type='text'>foobar</title><link rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foobar'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/foobar'/><apps:login
        userName='foobar' suspended='false' ipWhitelisted='false' admin='false' changePasswordAtNextLogin='false'
        agreedToTerms='false'/><apps:quota limit='10240'/><apps:name familyName='Bar'
        givenName='Foo'/><gd:feedLink rel='http://schemas.google.com/apps/2006#user.nicknames'
        href='https://apps-apis.google.com/a/feeds/<LOCATION>/nickname/2.0?username=foobar'/><gd:feedLink
        rel='http://schemas.google.com/apps/2006#user.emailLists' href='https://apps-apis.google.com/a/feeds/<LOCATION>/emailList/2.0?recipient=foobar%40<LOCATION>'/></entry>
  recorded_at: Mon, 15 Oct 2012 13:05:25 GMT
recorded_with: VCR 2.2.5
