---
http_interactions:
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/atom+xml
      Authorization:
      - GoogleLogin auth=DQAAAOUAAADUwnt3UnBbtEPjmLDL-Hxd_Nz7grQUcb_o8Kmb7D-sax15uW0OLJYRPqCHsycIjZ-l0zexzENmOlF66sQtiLCcR5QDRh-P-NX5H5DJjKIAv0cj8D7-lNaCCoq1JPew8nKY3iayb5mgFGc6td_Nneo8CNQdDRF9gkMB5Gq0-KfOJY04Rz5fdrlu6UFMSng0nwFXLCkUHTaDfJs07OwdmxGIyjE70XRJY9SazJNwC8WE-BxuH1qtIA0P6gaYuDvcy_mOOy-Q6zjX5rhqx4AEDRflN42-1d6EjpBLbW4UXlMg-YxCx7jWe-RYwdL5qWyZra4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 01 Jan 1970 00:00:00 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'
        xmlns:gd='http://schemas.google.com/g/2005'><id>https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0</id><updated>1970-01-01T00:00:00.000Z</updated><category
        scheme='http://schemas.google.com/g/2005#kind' term='http://schemas.google.com/apps/2006#user'/><title
        type='text'>Users</title><link rel='http://schemas.google.com/g/2005#feed'
        type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/barfoo</id><updated>1970-01-01T00:00:00.000Z</updated><category
        scheme='http://schemas.google.com/g/2005#kind' term='http://schemas.google.com/apps/2006#user'/><title
        type='text'>barfoo</title><link rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/barfoo'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/barfoo'/><apps:login
        userName='barfoo' suspended='false' ipWhitelisted='false' admin='false' changePasswordAtNextLogin='false'
        agreedToTerms='false'/><apps:quota limit='10240'/><apps:name familyName='raB'
        givenName='ooF'/><gd:feedLink rel='http://schemas.google.com/apps/2006#user.nicknames'
        href='https://apps-apis.google.com/a/feeds/<LOCATION>/nickname/2.0?username=barfoo'/><gd:feedLink
        rel='http://schemas.google.com/apps/2006#user.emailLists' href='https://apps-apis.google.com/a/feeds/<LOCATION>/emailList/2.0?recipient=barfoo%40<LOCATION>'/></entry><entry><id>https://apps-apis.google.com/a/feeds/<LOCATION>/user/2.0/bboobs</id><updated>1970-01-01T00:00:00.000Z</updated><category
        scheme='http://schemas.[...]
